body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#wrap{
	height: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	left: -9.0rem;
	#sidebar{
		width: 9.0rem;
		height: 100%;
		color: #94999d;
		background: #232a30; 
		display: flex;
		flex-direction: column;
		position: relative;
		// display: none;
		header{
			width: 9.0rem;
			height: 5.0rem;
			.user{
				width: 9.0rem;
				height: 1.4rem;
				display: flex;
				flex-direction: row;
				font-size: 0.6rem;
				line-height: 1.4rem;
				margin: 0.6rem 0 0.3rem 0;
				.head-portrait{
					width: 1.4rem;
					height: 1.4rem;
					border-radius: 50%;
					margin: 0 0.6rem 0 0.6rem;
					img{
						width: 1.4rem;
						height: 1.4rem;
						border-radius: 50%;
					}
				}
			}
			.menu{
				width: 7.36rem;
				height: 2rem;
				padding: 0.2rem 2.04rem 0.2rem 0.6rem;
				// background: green;
				font-size: 0.4rem;
				display: flex;
				justify-content: space-between;
				div{
					width: 1.2rem;	
					text-align: center;
					span{
						display: inline-block;
					}			
					.icon{
						width: 1.2rem;
						height: 1.2rem;
						i{
							font-size: 0.8rem;
							line-height: 1.2rem;
						}
					}
					.txt{
						width: 1.2rem;
					}
				}
			}
			
		}
		ul{
			height: 9.9rem;
			font-size: 0.6rem;
			overflow: hidden;
			li{
				height: 2.0rem;
				a{
					width: 9.0rem;
					display: block;
					height: 2.0rem;
					display: flex;					
					flex-direction: row;
					line-height: 2.0rem;
					color: #94999d;
					.left{
						width: 6.2rem;
						margin-left: 0.76rem;
					i{
						margin-right: 0.68rem;
					}
					// height: 2.0rem;
				}				
				.right{
					width: 1.6rem;
					// height: 2.0rem;
					i{
						font-size: 0.8rem;
					}
				}
				}
				
			}
		}
		footer{
			height: 2.24rem;
			line-height: 2.24rem;
			display: flex;
			flex-direction: row;
			font-size: 0.72rem;
			position: absolute;
			bottom: 0;
			span{
				display: inline-block;
			}
			.reading-mode{
				.icon{
					margin-right: 0.5rem;
				}
			}
			.offline{
				margin: 0 1.88rem 0 0.64rem;
				.icon{
					margin-right: 0.5rem;
				}
			}
		}			
	} 
	#main{
		width: 100%;
		// display: none;
		// position: relative;	 
		#top{
			width: 15.0rem;
			height: 1rem;
			line-height: 1rem;
	    	position: absolute;
	    	top: 0.5rem;
	    	z-index: 1;
	    	color: white;
	    	font-size: 0.66rem;
	    	// display: flex;
	    	// flex-direction: row;
	    	text-align: center;
	    	.sidebar{
				position: absolute;
				top: 0;
				left: 0.5rem;
				i{
					font-size: 0.8rem;
				}
	    	}
		}
		.jd_banner{
		    width: 100%;
		    height: 8.64rem;
		    position:relative;
		    overflow: hidden;
		    ul .mid{
			    display: inline-block;
			    width: 13.8rem;
			    padding: 0 0.6rem 0 0.6rem;
			    color: white;
			    position: absolute;
			    bottom: 1.5rem;
			    z-index: 3;   
			    font-size: 0.8rem;              
			}
			ul:first-child{
			    width:150.0rem;    
			    height: 8.64rem;
			    -webkit-transform:translateX(-10%);   
			    transform:translateX(-10%);
			}
			ul:first-child>li{
			    width:10%;   
			    height: 8.64rem;
			    float:left;
			}
			ul:first-child>li>a{
			    width:100%;
			    display:block;
			    /*font-size:0;*/
			}
			ul:first-child>li>a>img{
			    width:100%;
			    display:block;  
			    /*vertical-align: center;*/  //font-size:0/display:block/vertical-align:center起到的效果是一样的
			}
			.jd_banner>ul:last-child{
			    width:80px;
			    height:6px;
			    position:absolute;
			    bottom:6px;
			    left:50%;
			    margin: 0 0 20px -40px;
			}
			.jd_banner>ul:last-child>li{
			    width:6px;
			    height:6px;
			    border-radius:3px;
			    float:left;
			    border:1px solid #fff;
			    margin-left:10px;
			}
			.jd_banner>ul:last-child>.now{
			    background:#fff;
			}
			.jd_banner>ul:last-child>li:nth-child(1){
			    margin:0;
			}
		}
		.hot-list{
			width: 15.0rem;		
			li{
				display: flex;
				flex-direction: row;
				padding: 0.6rem;	
				border-bottom: 2px solid #f6f6f6;
				.title{
					width: 10.24rem;
					height: 2.4rem;
					margin-right: 28px;
					font-size: 0.6rem;
				}
				.pic{
					width: 3.0rem;
					height: 2.4rem;
					// background: cyan;
				}
			}			
		}
	}
}